<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">
	
	<!-- Base Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>org.openmrs.module.sespct</package>
	<author>CSaúde</author>
	<description>
			${project.parent.description}
	</description>

	<activator>org.openmrs.module.sespct.SESPCTActivator</activator>
	
	<!-- <updateURL>https://modules.openmrs.org/modules/download/@MODULE_ID@/update.rdf</updateURL> -->
	<!-- /Base Module Properties -->
	
	<require_version>${openmrsPlatformVersion}</require_version>

	<!-- Extensions -->
	<extension>
		<id>sespct.header.navigation</id>
		<point>org.openmrs.gutter.tools</point>
		<class>org.openmrs.module.sespct.extension.html.GutterListExt</class>
	</extension>

	<aware_of_modules>
		<aware_of_module>org.openmrs.module.legacyui</aware_of_module>
	</aware_of_modules>

	<!-- AOP
	<advice>
		<point>org.openmrs.api.FormService</point>
		<class>@MODULE_PACKAGE@.advice.DuplicateFormAdvisor</class>
	</advice>
	 /AOP -->
	
<!-- 	<privilege>
    	<name>Pesquisar resultados no CT-Interoperabilidade</name>
    	<description>Permite pesquisar resultados no CT-Interoperabilidade</description>
	</privilege> -->


	<globalProperty>
		<property>sespct.api.baseUrl</property>
		<defaultValue>https://sctdev.csaude.org.mz/api</defaultValue>
		<description>
			URL base da API do middleware SESP-CT.
		</description>
	</globalProperty>
	<globalProperty>
		<property>sespct.api.usCode</property>
		<defaultValue>US001</defaultValue>
		<description>
			Código da Unidade Sanitária (US) usado para o registo no middleware e para filtrar os dados.
		</description>
	</globalProperty>
	<globalProperty>
		<property>sespct.api.clientId</property>
		<defaultValue>US_Username</defaultValue>
		<description>
			O 'clientId' ou 'username' para autenticação na API do middleware.
		</description>
	</globalProperty>
	<globalProperty>
		<property>sespct.api.clientSecret</property>
		<defaultValue>minha_senha_super_secreta</defaultValue>
		<description>
			A 'clientSecret' ou 'password' para autenticação na API do middleware.
		</description>
	</globalProperty>
	<globalProperty>
		<property>sespct.api.publicKey</property>
		<defaultValue>-----BEGIN PUBLIC KEY-----MIIBIjANBgkqh...-----END PUBLIC KEY-----</defaultValue>
		<description>
			A chave pública completa usada para o registo do cliente. Copie o valor inteiro aqui.
		</description>
	</globalProperty>
	<globalProperty>
		<property>sespct.api.privateKey</property>
		<defaultValue>-----BEGIN PRIVATE KEY-----...-----END PRIVATE KEY-----</defaultValue>
		<description>
			A chave privada (PKCS#8 format) da Unidade Sanitária, usada para assinar os pedidos. MANTER EM SEGREDO.
		</description>
	</globalProperty>
	<globalProperty>
		<property>sespct.api.serverPublicKey</property>
		<defaultValue></defaultValue> <description>
		A chave pública do servidor middleware. Este valor é obtido e guardado automaticamente após o registo do cliente.
	</description>
	</globalProperty>
	<globalProperty>
		<property>sespct.api.salt</property>
		<defaultValue>randomSalt123</defaultValue>
		<description>
			O valor 'salt' usado no registo do cliente no middleware.
		</description>
	</globalProperty>
	<globalProperty>
		<property>sespct.api.clientRegistered</property>
		<defaultValue>false</defaultValue>
		<description>
			Indica se o cliente foi registrado com sucesso no middleware.
		</description>
	</globalProperty>

	<!-- Required Global Properties 
	<globalProperty>
		<property>@MODULE_ID@.someProperty</property>
		<defaultValue></defaultValue>
		<description>
			A description of the global property goes here.  The description
			should explain enough for administrators to understand the purpose
			and possible values for the global property.
		</description>
	</globalProperty>
	/Required Global Properties -->
	
	<!--
	<dwr>
		<allow>
			<create creator="new" javascript="DWRFormEntryService">
				<param name="class" value="org.openmrs.module.@MODULE_ID@.web.DWRFormEntryService"/>
				<include method="enterForm"/>
			</create>
		</allow>

		<signatures>
			<![CDATA[
			import @MODULE_PACKAGE@.web.DWRFormEntryService;
			DWRFormEntryService.enterForm(Integer patientId, Integer formId, boolean useEncounter, List<String> fields);
			]]>
		</signatures>	
	</dwr>
	-->
	
	<!-- Servlets -->
	<!-- Accessed through the url /pageContext()/moduleServlet/<moduleId>/<servlet-name> 
	<servlet>
		<servlet-name>formDownload</servlet-name>
		<servlet-class>@MODULE_PACKAGE@.web.FormDownloadServlet</servlet-class>
	</servlet>
	-->
	<!-- /Servlets -->
	
	
	<!-- Internationalization -->
	<!-- All message codes should start with @MODULE_ID@.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->
	
</module>

