<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">
	
	<!-- Base Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>org.openmrs.module.sespct</package>
	<author>CSaúde</author>
	<description>
			${project.parent.description}
	</description>

	<activator>org.openmrs.module.sespct.SESPCTActivator</activator>
	
	<!-- <updateURL>https://modules.openmrs.org/modules/download/@MODULE_ID@/update.rdf</updateURL> -->
	<!-- /Base Module Properties -->
	
	<require_version>${openmrsPlatformVersion}</require_version>

	<!-- Extensions -->
	<extension>
		<id>sespct.header.navigation</id>
		<point>org.openmrs.gutter.tools</point>
		<class>org.openmrs.module.sespct.extension.html.GutterListExt</class>
	</extension>

	<aware_of_modules>
		<aware_of_module>org.openmrs.module.legacyui</aware_of_module>
	</aware_of_modules>
	
	
	<!-- AOP
	<advice>
		<point>org.openmrs.api.FormService</point>
		<class>@MODULE_PACKAGE@.advice.DuplicateFormAdvisor</class>
	</advice>
	 /AOP -->
	
	<privilege>
			<name>App: sespct.app</name>
			<description>Permite acesso à aplicação SESP-CT</description>
	</privilege>




	<!-- Required Global Properties 
	<globalProperty>
		<property>@MODULE_ID@.someProperty</property>
		<defaultValue></defaultValue>
		<description>
			A description of the global property goes here.  The description
			should explain enough for administrators to understand the purpose
			and possible values for the global property.
		</description>
	</globalProperty>
	/Required Global Properties -->
	<globalProperty>
		<property>sespct.api.baseUrl</property>
		<defaultValue>https://api.comitetarvmisau.co.mz</defaultValue>
		<description>
			The base URL for the SESP-CT external API.
		</description>
	</globalProperty>
	<globalProperty>
		<property>sespct.api.clientId</property>
		<defaultValue>openmrs_sespct_client_004</defaultValue>
		<description>
			The Client ID for authenticating with the SESP-CT API.
		</description>
	</globalProperty>
	<globalProperty>
		<property>sespct.api.clientSecret</property>
		<defaultValue>secret-shaquil</defaultValue>
		<description>
			The Client Secret for authenticating with the SESP-CT API.
		</description>
	</globalProperty>
	<globalProperty>
		<property>sespct.api.scopes</property>
		<defaultValue>read write</defaultValue>
		<description>
			The permission scopes to request from the SESP-CT API (space-separated).
		</description>
	</globalProperty>
	<globalProperty>
		<property>sespct.api.clientPrivateKey</property>
		<defaultValue>
			<![CDATA[
-----BEGIN PRIVATE KEY-----
[Add Private Key Here]
-----END PRIVATE KEY-----
        ]]>
		</defaultValue>
		<description>
			The client's private RSA key (in PEM format) used to sign requests.
		</description>
	</globalProperty>
	<globalProperty>
		<property>sespct.api.serverPublicKey</property>
		<defaultValue>
			<![CDATA[
-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAtxgKv7xamvKWMYdhM8ev\nTDPgGwZUDmRSF383V4nc4lak+0k0c7thw/JzOwkQGQ+E9sgG5vIDQGbBP4sRQQSu\n2JZ2472L8y6b5Uvp/I+Igq9sUYoDQA1yhzbWPikSTNxF5rXZ/sPmctFg9KMSURk1\n64GRhxpm+hHyEMy2esk0qoM2g+f3gN+jih1rgZI54pmlZdcwE6+iTtJK7p4wxrWd\nI2XlUVYptqPYsiVpFEaZRukM2vI5BLzF019eq3qJiKqVFdgnvLpVZNAcoFbiEKmB\nH9kCR+HW5iFbV6jd9ll7oXedibBdA8xYxcXGCTVvaRWuu1nwg8yW5a+t8N2NOMtG\nEwIDAQAB\n-----END PUBLIC KEY-----\n
        ]]>
		</defaultValue>
		<description>
			The server's public RSA key (in PEM format) used to verify responses.
		</description>
	</globalProperty>

	<!--
	<dwr>
		<allow>
			<create creator="new" javascript="DWRFormEntryService">
				<param name="class" value="org.openmrs.module.@MODULE_ID@.web.DWRFormEntryService"/>
				<include method="enterForm"/>
			</create>
		</allow>

		<signatures>
			<![CDATA[
			import @MODULE_PACKAGE@.web.DWRFormEntryService;
			DWRFormEntryService.enterForm(Integer patientId, Integer formId, boolean useEncounter, List<String> fields);
			]]>
		</signatures>	
	</dwr>
	-->
	
	<!-- Servlets -->
	<!-- Accessed through the url /pageContext()/moduleServlet/<moduleId>/<servlet-name> 
	<servlet>
		<servlet-name>formDownload</servlet-name>
		<servlet-class>@MODULE_PACKAGE@.web.FormDownloadServlet</servlet-class>
	</servlet>
	-->
	<!-- /Servlets -->
	
	
	<!-- Internationalization -->
	<!-- All message codes should start with @MODULE_ID@.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->
	
</module>

